<div class="navbar navbar-inverse" bs-navbar>
	<div class="navbar-inner">
		<a class="brand" href="#">CardCash</a>
		<ul class="nav">
			<li data-match-route="/(:?sell_orders)"><a href="#/sell_orders">Incoming Orders</a></li>
			<li data-match-route="/buy_orders"><a href="#/buy_orders">Outgoing Orders</a></li>
			<li data-match-route="/customers"><a href="#/customers">Customers</a></li>
			<li data-match-route="/merchants"><a href="#/merchants">Merchants</a></li>
			<li data-match-route="/cards"><a href="#/cards">Cards</a></li>
			<li data-match-route="/inventory"><a href="#/inventory">Inventory</a></li>
			<li data-match-route="/shipping"><a href="#/shipping">Shipping</a></li> 
			<li><a href="#/buy_orders">Discounts</a></li>
			<li><a href="#/reports">Reports</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Administration
				<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#/buy_orders">Access Control</a></li>
					<li><a href="#/buy_orders">Site Maintainance</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
