
<div class="container" ng-controller="invoiceCtrl"> 

  <!-- Header -->
  <div class="row" style="margin-bottom:30px">
    <div class="col-lg-6 col-lg-offset-3">
      <h2 class="text-center">Thank you for your order!</h2>  
      <h4 class="text-center">Your order number is {{order.id}}</h4>
    </div>
  </div>
  <!-- !Header -->
 
    <!-- Shipping/Billing  Column -->
    <div class="col-lg-5 col-lg-offset-1">


          <div class="well">
            
            <h4>{{order.firstName}} {{order.lastName}} <br></h4> 
            <h5>
             {{order.street1}}   {{order.street2}} <br>   
             {{order.city }} {{order.state }} {{order.zip }} 
           </h5> 
           
    </div>
  </div>

    <div class="col-lg-5 col-lg-offset-1">


<h5>Order Date: {{order.createdAt | date}}</h5>
<h3>Total: {{order.curTotal}}</h3>
<h4>Subtotal: {{order.curSubTotal}}</h4>
<h4>Discount: $0.00</h4>





  </div>  

<div class="col-lg-9 col-lg-offset-1">

          <table class="table table-hover" style="table-layout: fixed;">

            <th>Merchant</th> 
            <th></th>
            <th>Value</th>
            <th>Discount</th>
            <th>Price</th> 
            <!-- <th></th>--> 

            <tr ng-repeat="item in order.cards"> 

              <td style="width:75px"> <img data-src="holder.js/170x200" alt="300x200"  src="http://placehold.it/75x50&text=Image"> </td>
              <td style="width:200px">   {{item.merchant.name}} </td>
              <td>  {{item.actualValue | currency}}    </td> 
              <td> <span>{{100-item.sellRate}}% Off  <span> </td> 
              <td> <b>{{(item.actualValue/100)*item.sellRate | currency}}  </b> </td> 
              <!-- <td> <span>{{card.cardType}} <span> </td> -->   
            </tr>

          </table>

</div>


</div>












