
<div class="container" ng-controller="sellCtrl" ng-init="initCheckout()" ng-cloak>

  <div class="row" style="margin-bottom:30px">
    <div class="col-lg-6 col-lg-offset-3">
      <h1 class="text-center">Sell Gift Cards</h1>
      <h5 class="text-center">(Last step!)</h5> </br>
      <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 85%"></div>
      </div>
    </div>
  </div>

  <form novalidate name="sellForm" ng-submit="submit()">
    <div class="row">
      <!-- Address Column -->
      <div class="col-lg-5 col-lg-offset-1" >
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Select Address</h3>
          </div>
          <div class="panel-body">
            <div class="well" ng-show="selectedAddress">
              <h4>{{selectedAddress.firstName}} {{selectedAddress.lastName}} <br></h4>
              <h5>
                {{selectedAddress.street1}}   {{selectedAddress.street2}} <br>
                {{selectedAddress.city }} {{selectedAddress.state }} {{selectedAddress.zip }}
              </h5>
            </div>
            <div class="alert alert-warning" style="color:#63625F" ng-show="addressList.length === 0 || selectedAddress === null">
              <i class="icon-exclamation-sign"></i> No Addresses On File
            </div>

            <div class="pull-right">
              <a ng-show="selectedAddress" ng-click="changeAddress('change')">Change</a>&nbsp;&nbsp;
              <a ng-click="changeAddress('add')">Create New Address</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Address Column -->
      <div class="col-lg-5" >
        <table class="table table-bordered">
          <tr>
            <td>
              <h4 class="text-center">Total Offer </h4>
              <h1 class="text-center"> {{totalOffer | currency}} </h1>
            </td>
          </tr>
        </table>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Submission Method</h3>
          </div>
          <div class="panel-body">
            <table class="table table-bordered">
              <tr>
                <td>
                  <h4 class="text-center">
                    <i class="icon-envelope icon-3x"></i></br>
                    Mail Cards </br>
                    <input type="radio" name="order.orderType" ng-model="order.orderType" value="0" ng-disabled="true"/>
                    <h5 class="text-center">(Get <b>More</b> Money)</h5>
                  </h4>
                </td>
                <td>
                  <h4 class="text-center">
                    <i class="icon-keyboard icon-3x"></i></br>
                    Enter Online </br>
                    <input type="radio" name="order.orderType" ng-model="order.orderType" value="1" ng-disabled="true">
                    <h5 class="text-center">(Get Paid <b>Faster</b>)</h5>
                  </h4>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>


    <!-- Billing Row -->
    <div class="row">

      <!-- Payment Method Column -->
      <div class="col-lg-4 col-lg-offset-1">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h3 class="panel-title"><span class="badge">Step 3</span> Payout Method</h3>
          </div>

          <div class="panel-body">

            <div class="radio">
              <form name="myForm">
                <input type="radio" ng-model="order.payoutType" value="0" data-target="#MailedCheck" onclick="$(this).tab('show')">
                Mailed Check<br>
                <input type="radio" ng-model="order.payoutType" value="3" data-target="#ACH" onclick="$(this).tab('show')" >
                ACH Deposit<br>
                <input type="radio" ng-model="order.payoutType" value="2" data-target="#Paypal" onclick="$(this).tab('show')" >
                PayPal Payment<br>
                <input type="radio" ng-model="order.payoutType" value="1" data-target="#Amazon" onclick="$(this).tab('show')" >
                Amazon Gift Card<br>
              </form>
            </div>

          </div>

        </div>
      </div>
      <!-- !Payment Method Column -->
      <!-- Payment Details Column -->
      <div class="col-lg-6">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="badge">Step 4</span> Payout Details</h3>
          </div>

          <div class="panel-body">

            <div class="tab-content">
              <!-- TAB - Mailed Check -->
              <div class="tab-pane" id="MailedCheck">

              </div>

              <!-- TAB - ACH -->
              <div class="tab-pane active" id="ACH">

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="RoutingNumber" class="col-lg-3 control-label">Routing Number</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" ng-model="order.achRouting" ng-required="(order.payoutType == 3)" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="AccountNumber" class="col-lg-3 control-label">Account Number</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" ng-model="order.achAccount" ng-required="(order.payoutType == 3)">
                    </div>
                  </div>
                </form>

              </div>

              <!-- TAB - Paypal -->
              <div class="tab-pane" id="Paypal">

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputEmail1" class="col-lg-3 control-label">Paypal Email</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" ng-model="order.paypalEmail" ng-required="(order.payoutType == 2)">
                    </div>
                  </div>
                </form>

              </div>

              <!-- TAB - Amazon -->
              <div class="tab-pane" id="Amazon">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label for="inputEmail1" class="col-lg-3 control-label">Amazon Email</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" ng-model="order.amazonEmail" ng-required="(order.payoutType == 1)">
                    </div>
                  </div>
                </form>
              </div>

            </div>

          </div>
        </div>

      </div>
      <!-- !Payment Details Column -->
    </div>
    <!-- !Billing Row -->



    <div class="row">

      <div class="col-lg-10 col-lg-offset-1">

        <table class="table table-striped">

          <th></th>
          <th>Merchant</th>
          <th>Card Number</th>
          <th>Card Pin</th>
          <th>Balance</th>
          <th>Offer</th>

          <tr ng-repeat="item in cart">
            <td> <img ng-src="{{item.image}}" length="33" width="46" /> </td>
            <td class="col-lg-3"> {{item.name}} </td>
            <td class="col-lg-3">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="text" name="card-number" class="form-control" placeholder="Card Number" ng-model="item.cardNumber" ng-disabled="true">
              </div>
            </td>
            <td class="col-lg-2">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="text" name="card-pin" class="form-control" placeholder="Pin" ng-model="item.cardPin" ng-disabled="true">
              </div>
            </td>
            <td> {{item.value | currency}} </td>
            <td> {{item.offer | currency}} </td>
          </tr>
        </table>
        <div ng-notice></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-6">
              <button type="button" ng-click="stepTwo(order)" class="btn btn-primary btn-lg btn-block"><i class="icon-double-angle-left"></i> Back</button>
            </div>
            <div class="col-lg-6">
              <button type="button" ng-click="placeOrder()" ng-disabled="sellForm.$invalid || !selectedAddress" class="btn btn-success btn-lg btn-block">Submit this order! <i class="icon-double-angle-right"></i></button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </form>
</div>